#info , #container {
  align-items: center;
  display: flex;
  justify-content: center;
}

#info input {
  height: 2rem;
}

#carta-texto {
  width: 50%;
}

button {
  background-color: lightblue;
  border: 1px solid gray;
  height: 2.4rem;
}
button:hover {
  opacity: 0.8;
}