.newspaper {
  background-color: rgb(250, 235, 215);
  font-family: 'Times New Roman';
  font-weight: 700;
}

.magazine1 {
  background-color: rgb(0, 128, 128);
  color: rgb(255, 255, 255);
  font-family: Verdana;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url("images/pink-pattern.png");
  color: rgb(255, 0, 255);
  font-family: Verdana;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}

span {
  display: inline-block;
}

body {
  background-color: rgb(255, 250, 205)
}

h1 {
  color: rgb(54, 54, 54);
  margin-left: 40%;
}

#carta-texto,
#carta-contador {
  margin-left: 40%;
}

#carta-gerada {
  margin-left: 30%;
}

#criar-carta {
  background-color: rgb(218, 165, 32);
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 20px;
}
